beautifulsoup4==4.14.3 ; python_version >= "3.13"
bs4==0.0.2 ; python_version >= "3.13"
certifi==2026.5.20 ; python_version >= "3.13"
cftime==1.6.5 ; python_version >= "3.13"
h5netcdf==1.8.1 ; python_version >= "3.13"
h5py==3.16.0 ; python_version >= "3.13"
netcdf4==1.7.4 ; python_version >= "3.13"
numpy==2.4.6 ; python_version >= "3.13"
packaging==26.2 ; python_version >= "3.13"
pandas==3.0.3 ; python_version >= "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.13"
python-dotenv==1.2.2 ; python_version >= "3.13"
six==1.17.0 ; python_version >= "3.13"
soupsieve==2.8.4 ; python_version >= "3.13"
typing-extensions==4.15.0 ; python_version >= "3.13"
tzdata==2026.2 ; python_version >= "3.13" and (sys_platform == "win32" or sys_platform == "emscripten")
xarray==2026.4.0 ; python_version >= "3.13"
