blinker
certifi
cftime
charset-normalizer
click
colorama
curlify
Flask
flask-cors
harmony-py
idna
itsdangerous
Jinja2
MarkupSafe
netCDF4
numpy
packaging
pandas
pockets
podaac-data-subscriber
progressbar2
python-dateutil
python-dotenv
python-utils
requests
shapely
six
sphinxcontrib-napoleon
tenacity
typing_extensions
tzdata
urllib3
Werkzeug
xarray